.Position {
  width: 300px;
  color: white;
  font-weight: 300;
  text-align: left;
  padding: 20px 20px;
  background-color: #131c2e;
  height: 100%;
}

.Position > h3 {
  margin-top: 0px;
}

.Position .Table {
  display: flex;
  flex-basis: 100%;
  flex-flow: column nowrap;
}

.Position .Table .Head, .Position .Table .Body .OrderSection > div {
  display: flex;
  justify-content: space-between;
  color: #828ea1;
  text-align: center;
}

.Position .OrderSection:first-of-type {
  margin-bottom: 16px;
}

.Red {
  color: #f77b95;
}

.Green {
  color: #20bca4;
}